<header>
    <h1>Welcome to the Campfire</h1>
    <nav class="navBar">
        <ul>
            <li><a href="https://github.com/dhruza88/Project2-SMS-messenger">About</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>

<div id="app">
    {{!-- <header>
        <h1>Chatroom</h1>
    </header> --}}
    {{!-- <main class="content"> --}}
        {{!-- <div class="container p-0">

            <h2 id="room-name"></h2>

            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right">

                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="Search User">
                                </div>
                            </div>
                        </div>

                        <a href="#" class="list-group-item list-group-item-action border-0">
                            <div class="d-flex align-items-start">
                                <img src="" class="rounded-circle mr-1" alt="" width="40" height="40">
                                <div class="flex-grow-1 ml-3">

                                    <div class="small"><span class="fas fa-circle chat-online"></span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div>

                    <div class="position-relative">
                        <div class="chat-messages p-4">

                            <div class="chat-message-left pb-4">
                                <div>
                                    <div class="text-muted small text-nowrap mt-2">
                                        <!--time-->
                                    </div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                    <div class="font-weight-bold mb-1">Michael</div>
                                    Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
                                </div>
                            </div>
                            <div class="chat-message-left pb-4">
                                <div>
                                    <div class="text-muted small text-nowrap mt-2">
                                        <!--time-->
                                    </div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                    <div class="font-weight-bold mb-1">Michael</div>
                                    Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
                                </div>
                            </div>
                            <div class="chat-message-left pb-4">
                                <div>
                                    <div class="text-muted small text-nowrap mt-2">
                                        <!--time-->
                                    </div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                    <div class="font-weight-bold mb-1">Michael</div>
                                    Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="flex-grow-0 py-3 px-4 border-top">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Type your message">
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </div>

                </div>
            </div> --}}


            <!-- Saved chat messages.  In JS file get chatContainer element from our html page, then append the new div to the message container div
            // const chatMessages = document.getElementById('chat-messages')
            // chatMessages.append(messageElement)
            // }
         -->
            {{!-- <div id="chat-messages"></div>

        <head>
   
    <style>
        body {
            margin: 0;
            padding-bottom: 3rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }

        #form {
            background: rgba(0, 0, 0, 0.15);
            padding: 0.25rem;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            height: 3rem;
            box-sizing: border-box;
            backdrop-filter: blur(10px);
        }

        #input {
            border: none;
            padding: 0 1rem;
            flex-grow: 1;
            border-radius: 2rem;
            margin: 0.25rem;
        }

        #input:focus {
            outline: none;
        }

        #form>button {
            background: #333;
            border: none;
            padding: 0 1rem;
            margin: 0.25rem;
            border-radius: 3px;
            outline: none;
            color: #fff;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages>li {
            padding: 0.5rem 1rem;
        }

        #messages>li:nth-child(odd) {
            background: #efefef;
        }
    </style>
</head>
    <body>
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="input" autocomplete="off" /><button>Send</button>
    </form>

        <script src="/public/js/chat.js"></script>
        <script src="/js/chatroom.js"></script>
        </body>
