@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body{
	margin: 0;
	padding: 0;
	background: #13293d;
	color: #fff;
	background-image: url(../img/1.png);
	background-position: center center;
	background-size: cover;
	z-index: 0;
	font-family: Arial;
	font-size: 12px;
}

header{
	width: 100%;
    margin: 0 auto 0 auto;
	font-size: 11px;
	text-align: center;
	background-color: #13293d;
	color: darkgoldenrod;
	margin-top: 0;
  }

header a {
	padding: 10px;
	font-size: 15px;
    color: #ffffff;
    text-decoration: none;
}

.navBar{
	height: 100%;
	background-color: #13293d;
	color: #fff;
	margin-bottom: 10px;
}

header h1 {
	margin-top: 40px;
	font-weight: 100;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav {
    padding-top: 30px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
	color:aliceblue
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
	align-items: center;
	vertical-align: auto;
}

.appName{
	flex: auto;
	align-items: center;
	margin-top: 60px;
}

.appName div{
	margin-top: 70px;
	margin-bottom: 35px;
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	;
	font-weight: 500;
}

.appName div span{
	color: #5379fa !important;
}

.subtitle{
	margin-top: 50px;
	margin-left: 120px;
}

.login,
.signup{
	margin-right: 70px;
	flex: auto;
    vertical-align: auto;
	font-size: 40px;
	height: 150px;
	width: 200px;
	padding: 10px;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=submit]{
	width: 250px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus{
	outline: none;
}

.signup input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.signup input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.signup input[type=submit]{
	width: 250px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.signup input[type=submit]:hover{
	opacity: 0.8;
}

.signup input[type=submit]:active{
	opacity: 0.6;
}

.signup input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.signup input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.signup input[type=submit]:focus{
	outline: none;
}

.app{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #fff;
	background-image: url(../img/2.png);
	background-position: center center;
	background-size: cover;
	z-index: 0;
	font-family: Arial;
	font-size: 12px;
}



/* user profile page */


h2 {
	font-size: 1.5rem;
	margin-bottom: 10px;
  }

.profile {
	flex: 1;
	background-image: url(../img/1.png);
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.card {
	border-style: solid;
	border-width: 1px;
	border-radius: var(--border-radius);
	padding: 10px;
	flex: 0 0 300px;
	background-color: rgba(245, 245, 245, 0.4); 
}


/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {


  
  /* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
.appName div{	
	font-size: 20px;
}
.subtitle{
	margin-left: 105px;
}
.login input[type=text]{
	margin-left: 50px;
	width: 125px;
}
.login input[type=password]{
	margin-left: 50px;
	width: 125px;
}
.login input[type=submit]{
	margin-left: 50px;
	width:125px;
}
.signup input[type=text]{
	margin-left: 50px;
	width: 125px;
}
.signup input[type=password]{
	margin-left: 50px;
	width: 125px;
}
.signup input[type=submit]{
	margin-left: 50px;
	width:125px;
}
}
