<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<h1>Login </h1>
<form action="" id="login">
    <input type="text" name="login-email" id="login-email" placeholder="email">
    <input type="password" name="login-password" id="login-password">
    <button>Login</button>
</form>
<script src="/js/loginSignup.js"></script>

</html>