<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <script src="../public/profile.js"></script>
</head>

<body>
    <div id="user-profile">
            <div id="img"></div>
            <div id="user-name"></div>
            <a href="./chatroom.hbs" class="btn">Join Chatroom</a>
            <div>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div>
    </div>
 </body>
</html>