<h1>Signup</h1>
<form action="" id="signup">
    <input type="text" name="signup-name" id="signup-name" placeholder="name">
    <input type="text" name="signup-email" id="signup-email" placeholder="email">
    <input type="password" name="signup-password" id="signup-password">
    <button>Signup</button>
</form>

<script src="/Project2-SMS-messenger/public/signUp.js"></script>